body {
    color: white;
    background: black;
    margin: 10px;
    font-family: "Chakra Petch", sans-serif;
}

header {
    border: solid 2px white;
    padding: 20px;
    font-size: 32px;
    color: rgb(216, 0, 0);
}

.chamada {
    background: rgb(7, 6, 6);
    padding-bottom: 20px;
    padding-top: 20px;
    display: left;
    justify-content: left;
}

.chamada-texto {
    margin-right: 10%;
}

h1 {
    font-size: 35px;
  }
  
  p {
    font-size: 20px;
  }

  img {
    height: 200px;
  }

  .categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
  }
  
  section {
    padding-left: 20px;
    padding-right: 20px;
  }

  .categoria {
    padding-left: 20px;
    padding-right: 20px;
  }

  .categoria-videos img {
    opacity: 0.5;
    height: 200px
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 2px solid rgb(128, 26, 0);
}